<div class="footer">
    <div class="icon">
      <a href="https://www.instagram.com/x.__bk_/"> <i class="fa-brands fa-instagram"></i></a>
          <a href=""> <i class="fa-brands fa-twitter"></i></a>
          <a href="https://github.com/BHAUTIK9694"> <i class="fa-brands fa-github"></i></a>
          <a href=""> <i class="fa-brands fa-facebook"></i></a>
    </div>
    <div class="footer-item">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/review">Review</a></li>
        <li><a href="/policy">Privacy Policy</a></li>
      </ul>
    </div>
    <p>copyright &#169; 2023</p>
</div>
