<div class="navbar">
  <div class="left">
    <a href="/home"> <i class="fa-solid fa-book"></i> </a>
   
  </div>
  <div class="center">
    <ul class="nav-ul">
      <li><a href="/home">HOME</a></li>
      <li><a href="/sell">SELL</a></li>
      <li><a href="/buy">BOOKS</a></li>
      <li><a href="/login">LOGIN</a></li>
      <li><a href="/contactus">CONTACT US</a></li>
    </ul>
  </div>
  <div class="last-div-nav">
    <a href="/profile"><i class="fa-regular fa-user"></i></a>
    <a href="/viewcart"><i class="fa-solid fa-cart-shopping"></i></a>
    <a href="/wishlist"><i class="fa-regular fa-heart"></i></a>
    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
  </div>
  <i class="fa-solid fa-bars"></i>
</div>