@import url('https://fonts.googleapis.com/css2?family=Average&family=Kanit:wght@200&family=Montserrat:wght@100;500&family=Raleway:wght@100&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&family=Kanit:wght@200&family=Montserrat:wght@100;200;500&family=Raleway:wght@100&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;

}

.style-h1 span {
  color: orangered;
}

.style-h1 a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 15px;
  color: #defaf8;
}

.style-h1 a i {
  color: #fff;
}

.left i {
  margin: 0px;
  font-size: 40px;
}

.last-div-nav {
  margin: 0;
}

.last-div-nav i {
  margin: 10px;
  font-size: 22px;
}

.container {
  /* background: linear-gradient(#06142e, #183358, #473e66, #bd8388, #f5d7d8); */
  background: linear-gradient(180deg, #1f1c2c 0%, #1f1c2c 100%);

}

a i {
  text-decoration: none;
  color: #defaf8;
}

h3 {
  font-size: 23px;
  margin-left: 20px;
}

.navbar {
  display: flex;
  color: #defaf8;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
}

.center ul li {
  list-style-type: none;
  margin: 0px 10px;
}

.center ul li a {
  list-style-type: none;
  margin: 0px 10px;
  color: #defaf8;
}

.center ul {
  display: flex;
  align-items: center;
}

.right {
  margin-right: 20px;
  display: flex;
}

.right button {
  height: 30px;
  width: 65px;
  margin: 0 3px;
  border-radius: 20px;
  cursor: pointer;
}

.center-body {
  display: flex;
  color: #fff;
  margin: 50px;
  transition: 0.5s;
}

.center-body p {
  color: #9eb5b4;
  font-size: 20px;
  margin: 15px;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  margin-right: 50px;
}

#book-img {
  opacity: 0.5;
}

.center-body div h1 {
  color: #8feeff;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  margin: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  margin: 15px 0;

}

.icon i {
  font-size: 30px;
  margin: 0 10px;
}

.icon a {
  color: #defaf8;
}

.nav-ul {
  margin-right: 10px;
}

.footer-item ul {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 20px;
  margin: 15px 0;
}

.footer p {
  margin-bottom: 10px;
  font-size: 20px;
  margin: 15px 0;
  color: #defaf8;

}

ul li a {
  text-decoration: none;
  color: #defaf8;
}

.btn-div {
  display: flex;
  margin: 15px;
}

.fa-bars:before,
.fa-navicon:before {
  content: "\f0c9";
  margin-right: 15px;
}

button {
  width: 100px;
  margin: 10px;
  background: black;
  border-radius: 20px;
  border-color: solid transparent 2px;
  height: 41px;
  font-size: 17px;
  cursor: pointer;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}

.footer-item ul li a {
  text-decoration: none;
  color: #defaf8;

}


.fa-bars {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.footer-hr {
  margin: 15px 100px;
  color: #06142e !important;
  background-color: #06142e !important;
  background: #06142e !important;
  margin-bottom: 20px;
}

.btn-div a {
  text-decoration: none;
  color: white;
}

.errorp {
  color: red;
}

.fa-user {
  margin: 5px;
}

.profile-ul {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-ul-hidden {
  display: flex;
  visibility: hidden;

}

.profile-con {
  display: inline-block;
  margin: 0;
}

.profile-li {
  cursor: pointer;

}

.profile-ul li {
  margin: 10px;
}




.dropbtn {
  background: transparent;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 126px;
  right: 0px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: white;
}

.show {
  display: block;
}

.fa-cart-shopping {
  margin: 0px 8px;
}

.footer .icon a i {
  color: #defaf8;
}

@media screen and (max-width: 870px) {
  .left i {
    margin: 64px;
    font-size: 40px;
    margin: 0;
  }

  .nav-ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    left: -106%;
    margin-top: 7vh;
    color: white;
    width: 100vw;
  }

  #book-img {
    margin-top: 35px;
  }

  .last-div-nav {
    margin: 0;
  }

  .center-m {
    margin-top: 280px !important;
    transition: 0.5s;
  }

  .center ul li {
    margin: 20px 0;
  }

  .fa-bars {
    display: block;
    margin: 0 !important;
  }

  .activeul {
    left: 0% !important;
    transition: 1s;
  }

  .navbar {
    justify-content: space-around;
  }
}

@media screen and (max-width: 680px) {
  #book-img {
    display: none;
  }

  .center-body p {
    margin: 20px;
  }

  .nav-ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    left: -106%;
    margin-top: 7vh;
    color: white;
    width: 100vw;
  }

  .center-m {
    margin-top: 280px !important;
    transition: 0.5s;
  }

  .center ul li {
    margin: 20px 0;
  }

  .center ul li a {
    margin: 20px 0;
    color: white;
  }

  .fa-bars {
    display: block;
    margin: 0 15px !important;
  }

  .activeul {
    left: 0% !important;
    transition: 1s;
  }

  .footer-item ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
}


@media screen and (max-width: 1168px) and (min-width: 1049px) {
  #book-img {
    width: 400px;
  }
}

@media screen and (max-width: 1168px) {
  #book-img {
    width: 470px;
  }
}

@media screen and (max-width: 1063px) {
  #book-img {
    width: 375px;
  }
}

@media screen and (max-width: 900px) {
  #book-img {
    margin-top: 39px;
    width: 310px;
    height: 531px;
  }
}

@media screen and (max-width: 982px) {
  .last-div-nav i {
    margin: 7px;
    font-size: 20px;
  }
}

@media screen and (max-width: 949px) {
  .center ul li a {
    margin: 0px 5px;
  }

  .center ul li {
    margin: 17px 7px;
  }
}


.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.info-msg {
  color: #059;
  background-color: #BEF;
  left: 35vw;
  position: absolute;
  top: 37PX;
  font-size: 21px;
  width: 258px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation: hideMe 5s forwards;
}

.success-msg {
  color: #270;
  background-color: #DFF2BF;
  left: 35vw;
  position: absolute;
  top: 37PX;
  font-size: 21px;
  width: 258px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation: hideMe 5s forwards;
}

.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
  left: 35vw;
  position: absolute;
  top: 37PX;
  font-size: 21px;
  width: 258px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation: hideMe 5s forwards;
}

.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
  left: 35vw;
  position: absolute;
  top: 37PX;
  font-size: 21px;
  width: 258px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation: hideMe 5s forwards;
}


@keyframes hideMe {
  0% {
    opacity: 1;
  }

  99.99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}