<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/books.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/style/style.css" /> 
    <link rel="stylesheet" href="/style/signup.css" />
    <title>Book Store</title>
  </head>
  <body>
    <div class="container">
        <%- include('../partials/navbar.ejs') %>

        <center>
          <div class="form-container">

            <h1>Sign Up</h1>
            <form action="/signup" method="post">
                <input type="text" placeholder="Enter Your Name"  name="inputname" id="form-input-name">
                <input type="email" placeholder="Enter Your Email" name="loginemail" id="login-email-input">
                <input type="password" placeholder="Enter Your Password" name="loginpassword" id="login-password-input">

                <% if (locals.errormsg) { %>
                  <p class="errorp"><%= errormsg %></p>
                <% } %>

               
                <button class="signup-btn" type="submit">Sign Up</button>

      
            </form>
            <a href="/login">Already Register?</a>

            <form action="/vcvcvc" method="post">
              <button id="google-submit" type="submit"><i id="all-logo" class="fa-brands fa-google"></i>signUp With Google</button> 
              <button id="github-submit" type="submit"><i id="all-logo" class="fa-brands fa-github"></i>signUp With Github</button>
            </form>
          </div>
        </center>
     

      <hr class="footer-hr" />
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
 
  <script src="/src/login-forgot-singup.js"></script>
</html>
